#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ol{
  padding-top: 30px;
  margin: 0px;
  border-right: 2px solid gray;
  padding-left: 30px;
}
#article{
  padding-left: 30px;
  padding-top: 20px;

}
.js{
  font-weight: bold;
  color : skyblue
}
#first{
  color : green
}
span{
  color : red
}
h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 2px solid gray;
  margin: 0px;
  padding: 30px;
}
a{
  color : black;
}
